apptrack/pkgs/Wadl/Copyof-DeleteItem.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Copyof-DeleteItem" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Copy of - DeleteItem" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Deleteitem_Id_def" />
      <string name="ManualTriggerInput_Sendanemail_ux28_V2_ux29__Body_def" />
      <string name="ManualTriggerInput_Sendanemail_ux28_V2_ux29__Body_1_def" />
      <object name="ManualTriggerInput">
        <property name="Deleteitem_Id" type="integer" />
        <property name="Sendanemail(V2)_Body" type="string" />
        <property name="Sendanemail(V2)_Body_1" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Deleteitem_Id" path="/Deleteitem_Id" type="xs:long" required="true" />
            <param style="plain" name="Sendanemail(V2)_Body" path="/Sendanemail(V2)_Body" type="xs:string" required="true" />
            <param style="plain" name="Sendanemail(V2)_Body_1" path="/Sendanemail(V2)_Body_1" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>