apptrack/pkgs/Wadl/PrintPayslip2.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="PrintPayslip2" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="PrintPayslip2" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_GetEmployeeNo_Value_def" />
      <string name="ManualTriggerInput_GetEarningsTable_Value_def" />
      <string name="ManualTriggerInput_GetEmployeeName_Value_def" />
      <string name="ManualTriggerInput_GetMonth_Value_def" />
      <string name="ManualTriggerInput_GetYear_Value_def" />
      <string name="ManualTriggerInput_GetJobTitle_Value_def" />
      <string name="ManualTriggerInput_GetAddress_Value_def" />
      <string name="ManualTriggerInput_GetTaxRefNo_Value_def" />
      <string name="ManualTriggerInput_GetIDPassNo_Value_def" />
      <string name="ManualTriggerInput_GetDateEngaged_Value_def" />
      <string name="ManualTriggerInput_GetDOB_Value_def" />
      <string name="ManualTriggerInput_GetPayMethod_Value_def" />
      <string name="ManualTriggerInput_GetBank_Value_def" />
      <string name="ManualTriggerInput_GetAccNo_Value_def" />
      <string name="ManualTriggerInput_GetBranchCode_Value_def" />
      <number name="ManualTriggerInput_GetTaxEarn_Value_def" />
      <number name="ManualTriggerInput_GetNonTaxEarn_Value_def" />
      <number name="ManualTriggerInput_GetTotDeduct_Value_def" />
      <number name="ManualTriggerInput_GetTotPaid_Value_def" />
      <string name="ManualTriggerInput_GetPayslipComments_Value_def" />
      <number name="ManualTriggerInput_GetTotEarn_Value_def" />
      <string name="ManualTriggerInput_GetDeductionTable_Value_def" />
      <string name="ManualTriggerInput_GetCompContribTable_Value_def" />
      <string name="ManualTriggerInput_GetYTDTable_Value_def" />
      <object name="ManualTriggerInput">
        <property name="GetEmployeeNo_Value" type="string" />
        <property name="GetEarningsTable_Value" type="string" />
        <property name="GetEmployeeName_Value" type="string" />
        <property name="GetMonth_Value" type="string" />
        <property name="GetYear_Value" type="string" />
        <property name="GetJobTitle_Value" type="string" />
        <property name="GetAddress_Value" type="string" />
        <property name="GetTaxRefNo_Value" type="string" />
        <property name="GetIDPassNo_Value" type="string" />
        <property name="GetDateEngaged_Value" type="string" />
        <property name="GetDOB_Value" type="string" />
        <property name="GetPayMethod_Value" type="string" />
        <property name="GetBank_Value" type="string" />
        <property name="GetAccNo_Value" type="string" />
        <property name="GetBranchCode_Value" type="string" />
        <property name="GetTaxEarn_Value" type="number" />
        <property name="GetNonTaxEarn_Value" type="number" />
        <property name="GetTotDeduct_Value" type="number" />
        <property name="GetTotPaid_Value" type="number" />
        <property name="GetPayslipComments_Value" type="string" />
        <property name="GetTotEarn_Value" type="number" />
        <property name="GetDeductionTable_Value" type="string" />
        <property name="GetCompContribTable_Value" type="string" />
        <property name="GetYTDTable_Value" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="GetEmployeeNo_Value" path="/GetEmployeeNo_Value" type="xs:string" required="true" />
            <param style="plain" name="GetEarningsTable_Value" path="/GetEarningsTable_Value" type="xs:string" required="true" />
            <param style="plain" name="GetEmployeeName_Value" path="/GetEmployeeName_Value" type="xs:string" required="true" />
            <param style="plain" name="GetMonth_Value" path="/GetMonth_Value" type="xs:string" required="true" />
            <param style="plain" name="GetYear_Value" path="/GetYear_Value" type="xs:string" required="true" />
            <param style="plain" name="GetJobTitle_Value" path="/GetJobTitle_Value" type="xs:string" required="true" />
            <param style="plain" name="GetAddress_Value" path="/GetAddress_Value" type="xs:string" required="true" />
            <param style="plain" name="GetTaxRefNo_Value" path="/GetTaxRefNo_Value" type="xs:string" required="true" />
            <param style="plain" name="GetIDPassNo_Value" path="/GetIDPassNo_Value" type="xs:string" required="true" />
            <param style="plain" name="GetDateEngaged_Value" path="/GetDateEngaged_Value" type="xs:string" required="true" />
            <param style="plain" name="GetDOB_Value" path="/GetDOB_Value" type="xs:string" required="true" />
            <param style="plain" name="GetPayMethod_Value" path="/GetPayMethod_Value" type="xs:string" required="true" />
            <param style="plain" name="GetBank_Value" path="/GetBank_Value" type="xs:string" required="true" />
            <param style="plain" name="GetAccNo_Value" path="/GetAccNo_Value" type="xs:string" required="true" />
            <param style="plain" name="GetBranchCode_Value" path="/GetBranchCode_Value" type="xs:string" required="true" />
            <param style="plain" name="GetTaxEarn_Value" path="/GetTaxEarn_Value" type="xs:double" required="true" />
            <param style="plain" name="GetNonTaxEarn_Value" path="/GetNonTaxEarn_Value" type="xs:double" required="true" />
            <param style="plain" name="GetTotDeduct_Value" path="/GetTotDeduct_Value" type="xs:double" required="true" />
            <param style="plain" name="GetTotPaid_Value" path="/GetTotPaid_Value" type="xs:double" required="true" />
            <param style="plain" name="GetPayslipComments_Value" path="/GetPayslipComments_Value" type="xs:string" required="true" />
            <param style="plain" name="GetTotEarn_Value" path="/GetTotEarn_Value" type="xs:double" required="true" />
            <param style="plain" name="GetDeductionTable_Value" path="/GetDeductionTable_Value" type="xs:string" required="true" />
            <param style="plain" name="GetCompContribTable_Value" path="/GetCompContribTable_Value" type="xs:string" required="true" />
            <param style="plain" name="GetYTDTable_Value" path="/GetYTDTable_Value" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>